<div class="container">

  <div class="row py-4">
    <div class="col-4">
      <h2>会員一覧</h2>
    </div>
  </div>

  <div class="row">

    <table class="table" border="1">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>

      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
          <td><%= customer.email %></td>
          <td><%= customer.is_deleted_i18n %></td>
        </tr>
      <% end %>
    </table>

  </div>

</div>