<div class="container">

  <div class="row py-4">
    <%= link_to new_admin_genre_path do %>
      <button class="btn btn-success">新規登録</button>
    <% end %>
  </div>

  <div class="row py-4">
    <table class="table">
      <tr>
        <th>ジャンル</th>
      </tr>
      <% @genres.each do |genre| %>
        <tr>
          <th><%= genre.id %></th>
          <th><%= genre.name %></th>
          <th>
            <%= link_to edit_admin_genre_path(genre.id) do %>
              <button class="btn btn-primary">編集する</button>
            <% end %>
          </th>
        </tr>
    <% end %>
    </table>
  </div>

</div>