<div class="container">
  <div class="row">
    <%= @genre.name %>
  </div>
  <div class="row">
    <%= link_to edit_admin_genre_path do %>
      <button class="btn btn-primary">ジャンル編集</button>
    <% end %>
  </div>
</div>

