<h1>Public::CartItems#index</h1>
<p>Find me in app/views/public/cart_items/index.html.erb</p>


<table>

  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_items| %>
    <tr>
      <td><%= cart_items.item.name %></td>
      <td><%= cart_items.item.price %></td>
      <td><%= cart_items.amount %></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>

</table>



