<div class="container">

  <div class="row py-4">
    <h2 class="section-ttl">商品一覧 (全<%= @items.count %>件)</h2>
  </div>

  <div class="row">
    <% @items.each do |item| %>
      <%= link_to image_tag(item.get_item_image(200,100)), item_path(item.id) %>
      <p><%= item.name %></p>
      <p><%= item.price %></p>
    <% end %>
  </div>

</div>
