<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>


<%= @item.name %>
<%= @item.introduction %>
<%= @item.price %>
<p>個数選択</p>
<p>カートに入れる</p>
<p>（order?に追加するためのform_withが必要）</p>